In [6]:
import numpy as np
import pandas as pd

#load the consolidated dataset
df = pd.read_csv(r'C:\Users\alexm\FX_project\2000_2024\data2.csv')

# remove extra rows and columns
df = df.iloc[200:5383, 0:62]

# reformat Local time variable as a datetime
from datetime import datetime

df['Date'] = df['Date'].str[6:10] +'-'+ df['Date'].str[3:5] +'-'+ df['Date'].str[0:2]
df['Date'] = pd.to_datetime(df['Date'])

print(df.shape)
df.head()

(5183, 62)

C:\Users\alexm\AppData\Local\Temp\ipykernel_33180\4273330176.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\alexm\FX_project\2000_2024\data2.csv')

,Date,Day,Month,Year,Close_Mid,Volume_Bid,Volume_Ask,Volume_Tot,Close_Sprd,5D-MA,...,UK-NomGDP,UK-CPI,UK-Unemp,UK-CorpProf,UK-HshldInc,UK-ResPropInc,UK-SecLend,UK-ConsCred,UK-RetailVol,UK-MktVol
200,2004-02-08,8.0,2.0,2004.0,1.86077,193566.4553,168027.0151,361593.4704,0.0001,1.842514,...,323214.0,75.9,4.8,152273.0,228137.0,48.6,15.3,13.9,8.1,16.6
201,2004-02-09,9.0,2.0,2004.0,1.86755,185836.2850,161543.9481,347380.2331,0.0001,1.848244,...,323214.0,75.9,4.8,152273.0,228137.0,48.6,15.3,13.9,8.1,16.6
202,2004-02-10,10.0,2.0,2004.0,1.89076,184724.7819,162177.2662,346902.0481,0.0002,1.860112,...,323214.0,75.9,4.8,152273.0,228137.0,48.6,15.3,13.9,8.1,16.6
203,2004-02-11,11.0,2.0,2004.0,1.89239,192611.3716,165750.1633,358361.5349,0.0001,1.871732,...,323214.0,75.9,4.8,152273.0,228137.0,48.6,15.3,13.9,8.1,16.6
204,2004-02-12,12.0,2.0,2004.0,1.88505,186042.9791,161135.5285,347178.5076,0.0001,1.879304,...,323214.0,75.9,4.8,152273.0,228137.0,48.6,15.3,13.9,8.1,16.6

In [7]:
# normalise data

df_norm = df.iloc[:, 4:]
df_dates = df.iloc[:, :4]

for col in df_norm.columns:
    df_norm[col] = (df_norm[col] - df_norm[col].mean())/ df_norm[col].std()
    
x = df_norm.to_numpy()
y = df_dates.to_numpy()
cols = df.columns
z = np.append(y,x, axis=1)

df_norm2 = pd.DataFrame(z, columns=cols)
df_norm2.head()

,Date,Day,Month,Year,Close_Mid,Volume_Bid,Volume_Ask,Volume_Tot,Close_Sprd,5D-MA,...,UK-NomGDP,UK-CPI,UK-Unemp,UK-CorpProf,UK-HshldInc,UK-ResPropInc,UK-SecLend,UK-ConsCred,UK-RetailVol,UK-MktVol
0,2004-02-08,8.0,2.0,2004.0,1.346261,-0.108425,-0.163825,-0.136559,-0.990425,1.269796,...,-1.594999,-1.521179,-0.510423,-1.612364,-1.684136,-1.475755,2.743055,1.654251,1.138495,-0.375961
1,2004-02-09,9.0,2.0,2004.0,1.374563,-0.128922,-0.180773,-0.155302,-0.990425,1.293727,...,-1.594999,-1.521179,-0.510423,-1.612364,-1.684136,-1.475755,2.743055,1.654251,1.138495,-0.375961
2,2004-02-10,10.0,2.0,2004.0,1.471449,-0.131869,-0.179118,-0.155932,-0.684685,1.343293,...,-1.594999,-1.521179,-0.510423,-1.612364,-1.684136,-1.475755,2.743055,1.654251,1.138495,-0.375961
3,2004-02-11,11.0,2.0,2004.0,1.478254,-0.110957,-0.169778,-0.140821,-0.990425,1.391824,...,-1.594999,-1.521179,-0.510423,-1.612364,-1.684136,-1.475755,2.743055,1.654251,1.138495,-0.375961
4,2004-02-12,12.0,2.0,2004.0,1.447614,-0.128374,-0.181841,-0.155568,-0.990425,1.423448,...,-1.594999,-1.521179,-0.510423,-1.612364,-1.684136,-1.475755,2.743055,1.654251,1.138495,-0.375961